body{
    background-color: #D4CECD;
}
.lead{
    font-weight: bold;
    font-size:x-large;
}
.upload{
    font-size: large;
}
.ba{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}
.d-sm-flex{
    gap: 180px;
}
.para-bottom{
    margin-top: 20px;
}
.custom-color{
    color: #A5A1A0;
}